
.logo-docplanner_1
{
    width: 268px;
    height: 33px;
}

.logo-docplanner_2
{
    width: 4%;
    height: 4%;
} 
  
 .section_2 
{
padding-top: 12%;

}
.section_3
{
    padding-top: 7%;
}
.section_4
{
    padding-top: 4%;
    
}
.section_5
{
    padding-top: 4%;
    padding-bottom:4%
    
}


.service_for_patient
{background-color:#00ccb1;
 border-radius: 10px;
padding: 1.375em 2.5em 0;
 overflow: hidden;
}
.service_for_doctor
{background-color:#3d83df;
border-radius: 10px;
 padding: 1.375em 2.5em 0;
 overflow: hidden;
}


.service_for_patient h2
{
font-size: 1em;
 color:#96e2b1;
 
}
.service_for_doctor h2
{
font-size: 1em;
 color:#abd9f5;
 
}
.section_4 h1
{
 font-size: 2em;
 color:white;

}

.second_ligne,.first_ligne svg

{fill: #a9a9a9;
margin-left: -1%;
 }
.first_ligne :hover
 {fill: #00ccb1;
  }

.second_ligne :hover
{fill: #00ccb1;

 }
 .box_1,.box_2,.box_3,.box_4
 { background-color: white;
  padding: 3%;
  border-radius: 3%;
  }
  .box_1,.box_3
  {
  margin-top: 5%;
  margin-bottom: -5%;
  }
 .section_6
{
  padding: 4%;
  background-color:#d6f6f6; 
    
}

.section_6 h1,.section_7 h1
{ 
  color:#00b39b;
  padding: 2%;
  font-size: 30px;


}
.section_6 p,.section_7 p
{ 
  color:#747474;
  padding: 2%;
  font-size: 14px;
}
.section_7
{
  padding: 4%;
 
}





 
  